extends layout

block stylesheets
    link(rel='stylesheet', href='/css/form.css')

block content
    .form-container
        form(method='POST', action='/users/login')
            input(type='email', name='email', placeholder='Email Address')
            input(type='password', name='password', placeholder='Password')
            input(type='Submit', value='Login')
